.container-section-slaide-video{
    width: 100%;
	height: 66vh;
	/* position: fixed; */
   
    background: #111111;
    margin: auto;
  
    
}

.container-section-slaide-video video{
    width: 100%;
    height: 66vh;
  
}